.nav-theme {
  background-color: #101018f8;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 10px 25px;
}

.animate-navbar {
  /* box-shadow: 0 2px 3px #22222240; */
  animation: moveDown 0.5s ease-in-out;
}

@media screen and (max-width: 450px) {
  .nav-theme {
    width: 100%;
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}